{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron text-center">
            <h3>Tous les articles</h3>
        </div>

        <div class="col-md-6 m-auto">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    <h6><b>Une erreur est survenue</b></h6>
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        <div class="col-lg-3 ml-auto text-right">
            <a class="btn btn-sm btn-primary" href="{{ path('post_new') }}">Ajouter un article</a>
            <a class="btn btn-sm btn-primary" href="{{ path('post_search') }}">Rechercher un article</a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for post in posts %}
                        <div class="post-preview">
                            <a href="{{ path('post_show', {'id': post.id}) }}">
                                <h2 class="post-title">{{ post.title }}</h2>
                                <h3 class="post-subtitle">{{ post.body }}</h3>
                            </a>
                            <p class="post-meta">
                                Posté par {{ post.id }} le {{ post.createdAt | date("d/m/Y") }}
                            </p>
                        </div>
                        <hr />
                    {% else %}
                        <div class="post-preview">
                            <p>Aucun article</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if posts | length is divisible by(2) %}
            <p class="text-center mt-2">Nombre d'article multiple de 2</p>
        {% endif %}

    </div>

{% endblock %}
