{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron text-center">
            <h3>{{ post.title }}</h3>
        </div>

        <div class="col-12 text-center">
            <div class="card col-6 m-auto">
                <div class="card-body">
                    <p class="card-text">{{ post.body }}</p>



                    {# <p class="">Ecrit par {{ post.writtenBy.name }}, le {{ post.createdAt | date("d/m/Y") }}</p>#}

                    {# Traduction d'un chaine comportant des variables #}
                    <p class="">{{ 'post.show.written_by' | trans({
                            'name': post.writtenBy.name,
                            'date': post.createdAt,
                        }) }}
                    </p>




                    <hr>
                    <p>{{ 'post.field.keywords.label' | trans }} :
                        {% for keyword in post.keywords %}
                            {{ keyword.name }} ({{ keyword.posts | length }}){% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-sm btn-success" href="{{ path('post_edit', {'id': post.id}) }}">{{ 'app.action.edit' | trans }}</a>
            {% endif %}
            <a class="btn btn-sm btn-warning mt-2" href="{{ path('post_index') }}">{{ 'app.action.back' | trans }}</a>
        </div>
    </div>

{% endblock %}
